# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Build outputs
dist/
build/

# Ignore Firebase Admin SDK key
Server/services/webbg-project-firebase-adminsdk-fbsvc-*.json

